body {
    background-color: #252432;
    font-family: Calibri;
}

*{
    padding:0px;
    margin:0px;
}

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(54, 54, 54, 0.7);
    font-weight: bold;
    padding: 10px;
    position: fixed;
    z-index: 1;
    width: 100%;
  }

  #logo {
    height: 50px;
  }

  .menu-button {
    height: 25px;
    display: none;
    cursor: pointer;
    padding-right: 25px;
  }

  .nav-links {
    display: flex;
    flex: 1;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    padding-top: 26px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .nav-links a:hover {
    background-color: #424242;
  }

.MonstadtBCG{
    width: 100%;
}

.MonstadtText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(37, 37, 37,0.5);
    width: 100%;
}

.HodnoceniText {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(37, 37, 37,0.5);
  width: 100%;
}

.HodnoceniIMG{ 
  position: absolute;
  display: flex;
  justify-content: center;
  top: 30%;
  left: 16%;
}

.Smiley{
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  width: 45%;
}

#mainText {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(37, 37, 37,0.5);
    width: 100%;
}

#mainBCG {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > *{
    flex: 100%;
}

.main {
    background-color: transparent;
    text-align: center;
    font-size: 40px;
    color: #e9e8b5;
    position: relative;
}

.Monstadt {
    background-color: transparent;
    text-align: center;
    font-size: 40px;
    color: #aaf0de;
    position: relative;
}

.Liyue {
    background-color: transparent;
    text-align: center;
    font-size: 40px;
    color: #fde287;
    position: relative;
}

.Inazuma {
    background-color: transparent;
    text-align: center;
    font-size: 40px;
    color: #e08df5;
    position: relative;
}

.Sumeru {
    background-color: transparent;
    text-align: center;
    font-size: 40px;
    color: #95f1a5;
    position: relative;
}

.Fontaine {
    background-color: transparent;
    text-align: center;
    font-size: 40px;
    color: #86b8f1;
    position: relative;
}

.Comming_soon {
    background-color: transparent;
    text-align: center;
    font-size: 40px;
    color: #f7a2a2;
    position: relative;
}

.Odkazy {
    background-color: transparent;
    text-align: center;
    font-size: 40px;
    color: #ececec;
    position: relative;
}

@media all and (max-width: 1220px) {
    .cast{
        font-size: 20px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        position: absolute;
        top: 70px; /* Adjusted for the height of the navbar */
        left: 0;
        background-color: rgba(54, 54, 54, 0.7);
        z-index: 1;
        font-size: 12px;
      }
  
      .nav-links.show {
        display: flex;
      }
  
      .nav-links a {
        padding: 10px;
      }
  
      .menu-button {
        display: block;
      }
  
      .nav-links a:hover {
          background-color: transparent;
        }

      .nav-links-li {
        padding: 5px;
      }

      .liBCG {
        background-color: rgba(54, 54, 54, 0.5);
        color: #dbdada;
      }
}